# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
/Actividad4_3/target/
/Actividad4_4/target/
/Actividad4_5/target/
/020_Ejemplos_Practicos_1/target/
/021_Ejercicios_Adicionales_Fibonacci/target/
/021_Ejercicios_Adicionales_Adivina_El_Numero/target/
/Actividad4_2/target/
/023_Ejercicio_Adicional/target/
/024_Ejercicio_Adicional2/target/
/026_Actividad5-ProgramacionModular/target/
/100 EJERCICIOS PARA PRACTICAR JAVA/1.Numero_Par_Impar/target/
/# 100 EJERCICIOS PARA PRACTICAR JAVA/2.Mayor_De_Dos_Numeros/target/
/# 100 EJERCICIOS PARA PRACTICAR JAVA/100Ejercicios/1.Numero_Par_Impar/target/
/# 100 EJERCICIOS PARA PRACTICAR JAVA/100Ejercicios/2.Mayor_De_Dos_Numeros/target/
/# EJERCICIOS DESARROLLADOS POR IKER (AUTO-APRENDIZAJE)/100Ejercicios/1.Numero_Par_Impar/target/
/# EJERCICIOS DESARROLLADOS POR IKER (AUTO-APRENDIZAJE)/100Ejercicios/2.Mayor_De_Dos_Numeros/target/
/# EJERCICIOS DESARROLLADOS POR IKER (AUTO-APRENDIZAJE)/100Ejercicios/3.Calcular_Cuadrado_Numero/target/
/# EJERCICIOS DESARROLLADOS POR IKER (AUTO-APRENDIZAJE)/100Ejercicios/4.Mostrar_Tabla_Multiplicar/target/
/# EJERCICIOS (AUTO-APRENDIZAJE)/100Ejercicios/5.Mostrar_Numeros_1_100/target/
/# EJERCICIOS (AUTO-APRENDIZAJE)/100Ejercicios/6.Mostra_Numeros_Pares_1_50/target/
/# EJERCICIOS (AUTO-APRENDIZAJE)/10Ejercicios Conceptos Básicos (Más elaborados)/1.Calculadora_Cientifica_Basica/target/
/# EJERCICIOS (AUTO-APRENDIZAJE)/EJERCICIOS EN GRUPO DAW1/Piedra_Papel_Tijera/target/
/# EJERCICIOS (AUTO-APRENDIZAJE)/10Ejercicios Conceptos Básicos (Más elaborados)/2.Cajero_Automatico/target/
/Actividad6/target/
/Actividad6ERRROR/target/
/Actividad6_Propiedades/target/
/# EJERCICIOS (AUTO-APRENDIZAJE)/100Ejercicios/7.Sumar_Numeros_1_100/target/
/# EJERCICIOS (AUTO-APRENDIZAJE)/100Ejercicios/8.Calcular_Factrial/target/
/Actividad10/target/
/TrabajosJardineria/target/
/Actividad7/target/
/# EJERCICIOS (AUTO-APRENDIZAJE)/100Ejercicios/9.Multiplos_3_del_1_100/target/
/PRACTICANDO_EXAMEN_MVC&DAO/Examen_Practica_1_1/target/
/PRACTICANDO_EXAMEN_MVC&DAO/Examen_Practica_2_1/target/
/EXAMEN/ExamenControlGastos/target/
/2do-TRIMESTRE/PruebaSwing/target/
/2do-Trimestre/Actividad26/target/

/2do-TRIMESTRE/Actividad26/target/
/2do-TRIMESTRE/PruebaSwing-iker/target/
/2do-Trimestre/PruebaSwing-iker/target/
/2do-Trimestre/#### Proyecto_TPV/TPV_Gestion_Ventas/target/
/2do-Trimestre/GestionEmpleados/target/

/2do-Trimestre/Actividad27_1 - copia/target/
/2do-Trimestre/Actividad27_2/target/
/2do-Trimestre/Actividad27_3/target/
/2do-Trimestre/GestionEmpleados_PROYECTOS/iñigo/GestionEmpleados (1)/GestionEmpleados/target/
/2do-Trimestre/Flint Bliblioteca-Libro/FlintBibliotecaLibro_1/target/
/2do-Trimestre/Actividades_FLINT/Flint Bliblioteca-Libro/FlintBibliotecaLibro_1/target/
/# Refuerzo/#### EJERCICIOS (AUTO-APRENDIZAJE)/100Ejercicios/10.Pedir_Numero_Contar_Digitos/target/
/# Refuerzo/#### EJERCICIOS (AUTO-APRENDIZAJE)/100Ejercicios/11.Comprobar_Numero_Primo/target/
/2do-Trimestre/Actividades_FLINT/Actividades Flint 1 a N/Flint Bliblioteca-Libro/FlintBibliotecaLibro_1/target/
/2do-Trimestre/Actividades_FLINT/Actividades Flint Java + MVC Gestión Inventario - Streams/Actividades Guiadas/Guiada_AlmacenProductos_1/target/
/# Refuerzo/#### EJERCICIOS (AUTO-APRENDIZAJE)/100Ejercicios/12.Mostrar_Primeros_N_Primos/target/
/2do-Trimestre/Actividades_FLINT/Actividades Flint Java + MVC Gestión Inventario - Streams/Actividades Tipo Prueba/Prueba_HabitacionReserva_1/target/
/2do-Trimestre/Actividades_FLINT/Actividades Flint Java + MVC Gestión Inventario - Streams/Actividades Tipo Prueba/Prueba_GestionBanco_1/target/
/3er-Trimestre/PruebaJDBC/target/
/3er-Trimestre/Actividad25-Corriente_Datos/target/
/3er-Trimestre/PruebaJDBC/PruebaJDBC/target/
/3er-Trimestre/PruebaJDBC-iñigo/PruebaJDBC/target/
/# Refuerzo/#### Proyecto_GESTOCK/Gestock/target/
/3er-Trimestre/AplicacionTorneo/target/
/3er-Trimestre/CinemaManagement/target/
/3er-Trimestre/PruebaJPA/target/
/3er-Trimestre/Actividad37-Conceptos_Basicos_JPA/target/
/3er-Trimestre/PruebaJPA/PruebaJPA/target/
/3er-Trimestre/PruebaJPA-iñigo/PruebaJPA/target/
/3er-Trimestre/Actividad38-Creación de Relaciones/target/
/3er-Trimestre/Gestion_Streamers/target/
